<?xml version="1.0"?>
<module name="deva-ctrl-ak4613">
	<type>Element</type>
	<classification>Driver</classification>

	<description>
	        <short>Generic Audio Codec for the Asahi Kasei AK4613</short>
	        <abstract>
			<![CDATA[The deva-mixer-ak4613 shared object is responsible for configuring and operating an Asahi Kasei AK4613 audio codec device under the indirect control of the QNX Sound Architecture (io-audio). This driver is launched at the request of audio drivers (deva-ctrl-*) for hardware which includes an AK4613 codec.]]>
	        </abstract>
	</description>

	<supports>
		<availability ref="ostargets"/>
		<availability supported="false">
		 <cpu isa="arm"><byteOrder>be</byteOrder></cpu>
		</availability>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>
	<GroupOwner>hw</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<component id="ak4613" generated="true">
			<location basedir="{os}/{cpu}/dll{.:endian}"
				 runtime="true">deva-mixer-ak4613.so</location>
		</component>
	</contents>

	<requires>
		<part build="false" location="services/audio"/>
	</requires>

</module>
